body{
	font-family: Avenir, Helvetica, Sans-serif;
	-webkit-font-smoothing: antialiased;
  background: white;
  }

.overlay{
  background: #ffc400;
  z-index: 2;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  -webkit-transform: scaleX(0) skewX(-40deg);
          transform: scaleX(0) skewX(-40deg);
  -webkit-transform-origin: left;
          transform-origin: left
}

.transition {
  -webkit-animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
          animation: scaletoright 2000ms both cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@-webkit-keyframes scaletoright {
  0%   { -webkit-transform: scaleX(0) skewX(-40deg); transform: scaleX(0) skewX(-40deg); -webkit-transform-origin: left; transform-origin: left; }
  50%  { -webkit-transform: scaleX(1) skewX(0deg); transform: scaleX(1) skewX(0deg); -webkit-transform-origin: left; transform-origin: left; }
  51%  { -webkit-transform: scaleX(1) skewX(0deg); transform: scaleX(1) skewX(0deg);; -webkit-transform-origin: right;; transform-origin: right; }
  100% { -webkit-transform: scaleX(0) skewX(40deg); transform: scaleX(0) skewX(40deg);; -webkit-transform-origin: right;; transform-origin: right;}
}

button {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #ffc400;
  overflow: hidden;
	color: #000;
	font-size: 25px;
	background: none;
	cursor: pointer;
	padding: 20px 80px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ffc400;
}

button:hover,
button:active {
	color: white;
}

button:hover:after,
.button:active:after {
	width: 100%;
}

img {
  position: absolute;
  top: 0px;
  right: 16px;
  width: 10%;
  height: 10% ;
  
}

canvas {
  width: 28%;
  border: 1.5px solid rgb(227, 242, 253);
  padding: 10px;
  margin: 2% 35%;
  flex-grow: 1;
  background-color: #fff;
  position: absolute;
 }


p {
  position: absolute;
  top: 83%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
  color: #000;
  font-size: 15px;
  line-height: 30px;
	background: none;
	cursor: pointer;
	padding: 20px 100px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}